<div class="container pt-2">
    <nav class="navbar navbar-expand">
        <a class="navbar-brand" routerLink="/description">{{ title }}</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/expenses">Expenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/expenses/edit">Edit</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categories">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/months">Months</a>
            </li>
        </ul>
    </nav>
    <div class="pt-3 w-50">
        <router-outlet></router-outlet>
    </div>
</div>