<h4>Task description</h4>

<p class="pt-2">
    Програма для обліку фінансових затрат.
    Затрати описується назвою, вартістю і часом і категорією видатку (розваги, речі, інше).
    Категорії можна змінювати.
    Також можна подивитися скільки у відсотковому значенні було потрачено на ту чи іншу категорію і витрати по місяцях.
    Розробити просту програму з використанням EF (code first, атрибути), WebAPI.
    Клієнт WPF може бути реалізований без використання MVVM і мати найпростіший інтерфейс.
</p>